body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: whitesmoke;
}

.navbar-brand{
    margin-left: 15px;
}

#navbarDropdown{
    color: #000000;
    padding-right: 30px;
}

.carousel-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
    
}

.heading{
    text-align: center;
    margin-top: 60px;
    font-weight: bolder;   
    font-size: 32px;
}

.image{
    height: 100%;
    width: 100%;
}

.heading-2{
    color: #545454;
    font-size: 16px;
}

.shop-section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.boxes{
    margin-top: 25px;
}

.collection-name{
    color: #000000;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 18px;
    text-align: left;
}

.price{
    color: grey;
    font-weight: lighter;
    text-align: left;
    font-size: 14px;
    margin-right: 119px;
}  


.now-price{
    color: #000000;
    font-weight: bolder;
    display: inline;
}

.btn-group{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 130px;
    height: 45px;
    margin-bottom: 90px;
}

.heading-3{
    margin-top: 80px;
}

.shop-section2{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.shop-section3{
    margin-top: 60px;
}

.container{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    border: #000000;
}

.Container h3{
    font-size: 18px;
    font-weight: lighter;
    color: #000000;
}

.Container p{
    font-size: 15px;
    font-weight: lighter;
    color: grey;
}

.container-1{
    border: #000000;
}

.information{
    margin-top: 80px;
}

.heading-4{
    margin-top: 40px;
}

.heading-4 h3{
    font-weight: lighter;
}

.paragraph1 h6{
    color: grey;
    font-weight: lighter;
    font-size: 14px;
}

.paragraph1 h6 p{
    padding-right: 40px;
    padding-left: 40px;
}

.heading-5{
    margin-top: 30px;
}

.heading-5 h3{
    font-weight: lighter;
}

.paragraph2 h6{
    color: grey;
    font-weight: lighter;
    font-size: 14px;
}

.paragraph2 h6 p{
    padding-right: 40px;
    padding-left: 40px;
}

.heading-6{
    margin-top: 30px;
}

.heading-6 h3{
    font-weight: lighter;
}

.paragraph3 h6{
    color: grey;
    font-weight: lighter;
    font-size: 14px;
}

.paragraph3 h6 p{
    padding-right: 40px;
    padding-left: 40px;
}

.heading-7{
    margin-top: 30px;
}

.heading-7 h3{
    font-weight: lighter;
}

.paragraph4 h6{
    color: grey;
    font-weight: lighter;
    font-size: 14px;
}

.paragraph4 h6 p{
    padding-right: 40px;
    padding-left: 40px;
}

.heading-8{
    margin-top: 70px;
}

.heading-8 h1{
    font-weight: lighter;
}

.paragraph5 h6{
    color: grey;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 20px;
    color: #000000;
}

.paragraph5 h6 p{
    padding-right: 40px;
    padding-left: 40px;
}