body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: whitesmoke;
}

.icon{
    color: black;
    font-weight: bolder;
}

.icon i{
    color: #000000;
    padding-left: 20px;
    font-size: larger;
    color: #000000;
    padding-right: 5px;
}

.navbar-brand{
    margin-left: 15px;
}

#navbarDropdown{
    color: #000000;
    padding-right: 30px;
}


/*#navbarDropdown::after{
    content: '';
    height: 1px;
    width: 80%;
    
    background: black;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

#navbarDropdown:hover::after{
    opacity: 1;
}*/


.shop-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}
.heading{
    text-align: center;
    margin-top: 60px;
    font-weight: bolder;   
    font: 32px;
}

.heading-2{
    color: #545454;
    font-size: 16px;
}

.shop-section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
}

.boxes{
    margin-top: 25px;
}

.collection-name{
    color: #000000;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 18px;
    text-align: left;
}

.price{
    color: grey;
    font-weight: lighter;
    text-align: left;
    font-size: 14px;
    margin-right: 119px;
}  


.now-price{
    color: #000000;
    font-weight: bolder;
    display: inline;
}

.btn-group{
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    width: 130px;
    height: 45px;
    margin-bottom: 90px;
}

.heading-3{
    margin-top: 80px;
}


.shop-section2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.hover-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    margin: 0;
    font-size: large;
    font-weight: lighter;
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.hover-div:hover {
    background-color: black;
    color: white;
}
